<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Medical stock Management Tool</h1>
    <p>Maintain Medicine stocks easily using this tool</p>
    <br>
    <br>
    <h3>Alerts:</h3>
    <% if(typeof alertData == 'object' && alertData.expiredData) { %>
     
    <h5> Medicine Expiring in Next 3 Days </h5>
    <ul>
    <% alertData.expiredData.forEach(function(item){ %>
      <li>
      <%= item.name %> : <%= item.expirydate %>  <br>
    </li>
      <% }) %>
      <% } %>
    </ul>
  </div>
 
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>